@charset "UTF-8";
* {
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    border-collapse: collapse;
}

.main_bg {
    background-image:url("pic/main.jpg");
    background-size: cover;
    height: 500px;   

}
.bgtxt {
    color:black;
    padding: 40px;
    text-align: center;
}

.story {
	padding:40px;
}

.subtitle {
	text-align:center;
	font-size:40px;
}

.box1 {
	display:flex;
	margin:20px;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
}

.info1{
	padding: 40px;
}

.skill{
	background-color:green;
}
